<settings> 
    <servers>
        <server>
            <id>maven-releases</id>
            <username>${repo.login}</username>
            <password>${repo.pwd}</password>
        </server>
        <server>
            <id>maven-snapshots</id>
            <username>admin</username>
            <password>test</password>
        </server>
    </servers>
</settings>  
